body{
    background-color:#000000; /* hex value */
    color:white;   
    font-family:'Helvetica';
    font-size: 16px;
    font-weight: normal;
    line-height: 1.6em;
    
}

.box1{
    background-color:#333333;
    border-top: 5px red;
    border-right: 5px red;
    border-bottom: 5px red;
    border-left: 5px red;
    border-style: dotted;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin: 10px 10px 10px 10px;
}

.box2{
    background-color:#333333;
    border:5px green;
    border-style:dotted;
    padding:20px;
    margin:10px;
    
}
.box3{
    background-color: #333333;
    border:5px orange;
    border-style: dotted;
    padding: 20px;
    margin:10px;
}
.container{
    width:80%;
    margin:auto;
}
.clr{
    clear:both;
}
.box1 h1{
    font-weight: 800;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.box2 h1{
    font-weight: 800;
    font-family:'Tahoma';
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.box3 h1{
    font-weight: 800;
    font-family:'sans-serif';
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.categories{
        background-color: #333333;
        border:5px pink;
        border-style: solid;
        border-radius: 2px;
        padding: 20px;
        margin:10px;
}
a{
    text-decoration:none;
    color:red;
}

a:hover{
    color:chocolate;
}
a:active{
    color:green;
}
a:visited{
    color:yellow;
}
.my-form{
    padding:15px;
}

.my-form .form-group{
    padding-bottom:15px;
}
.my-form label{
    display:block;
}
.my-form input[type="text"], .my-form textarea, .my-form .email{
 padding :8px;
 width:100%;
}

.button{
    background-color: #333;
    color:#fff;
    border:none;
    padding:10px 15px;
}

.block{
    float: left;
    width:33.3%;
    border: 1px solid #ccc;
    padding:10px;
    box-sizing: border-box;
}

#main-block{
    float:left;
    width:70%;
    margin-top:10px;
}

#sidebar{
    float:right;
    width:30%;
    background-color: #ccc;
    padding:15px;
    box-sizing: border-box;
    margin-top:10px;
}
